{
  "server_ip": "insert-your-server-ip-here",
  "server_port": 10011,
  "check_port": 10012,
  "device_name": "default",
  "read_timeout": 10,
  "ping_time": 1,
  "send_workers": 4,
  "recv_workers": 4,
  "key": "32-byte-shared-key"
}
